.center-btn {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
}
.center-message {
  text-align: center;
  margin-bottom: 20px;
}
#form-dialog-title {
  height: 30px;
}
#form-dialog-title * {
  font-size: 25px;
}
.input-container {
  font-size: 19px !important;
  max-width: 97%;
  left: 50% !important;
  transform: translateX(-50%);
  position: relative !important;
}
.half-field-left {
  min-width: 46% !important;
}
.half-field-right {
  width: 46%;
  position: absolute !important;
  right: 0px !important;
}
.MuiDialogContent-root {
  overflow-x: hidden;
  max-height: 500px;
}

.MuiDialogContent-root::-webkit-scrollbar {
  display: none;
}
.half-field-container {
  width: 1350px !important;
}

#address-select {
  display: flex;
  position: relative;
  min-width: 70.5vh !important;
  margin-top: 5px;
}
@media screen and (min-width: 1000px) {
  #address-select {
    width: 75vh !important;
    margin-top: 5px;
  }
}
#select-label {
  margin-top: 10px;
  font-size: 13px;
}
.action-hr {
  width: 250px;
  position: relative;
  margin-top: 30px;
  margin-bottom: -4px;
  margin-right: 0px;
  border-color: rgba(255, 255, 255, 0.466);
}
.left-icon {
  padding: 24px 0 2px 15px;
  font-size: 28px !important;
  color: rgb(117, 117, 117);
}
.right-icon {
  padding: 22px 0 0 15px;
  font-size: 28px !important;
  color: rgb(117, 117, 117);
}
.icon-spacer {
  padding: 26px 0 2px 30px;
  height: 26px;
  /* font-size: 26px !important; */
}
.gender-icon {
  padding: 0px 0 2px 15px;
  margin-top: -6px;
  font-size: 28px !important;
  color: rgb(117, 117, 117);
}
