.center-btn {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
#form-dialog-title {
  height: 30px;
}
#form-dialog-title * {
  font-size: 25px;
}
/* .MuiDialog-root {
  min-width: 900px !important;
} */
.input-container {
  font-size: 19px !important;
  max-width: 90%;
  left: 50% !important;
  transform: translateX(-50%);
  position: relative !important;
}
.half-field-left {
  min-width: 46% !important;
}
.half-field-right {
  width: 46%;
  position: absolute !important;
  right: 0px !important;
}
.half-field-container {
  width: 1350px !important;
  /* text-align: center; */
  /* display: flex !important; */
  /* justify-self: space-between !important; */
}
#address-select {
  min-width: 650px !important;
  margin-top: 5px;
}
@media screen and (max-width: 1000px) {
  #address-select {
    min-width: 600px !important;
    margin-top: 5px;
  }
}
#select-label {
  margin-top: 10px;
}
.action-hr {
  width: 250px;
  position: relative;
  margin-top: 30px;
  margin-bottom: -4px;
  margin-right: 0px;
  border-color: rgba(255, 255, 255, 0.466);
}
